

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}


/* nav class */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}

.Awlad{
    font-weight: extrabold;
    height: 33px;
    font-size: 25px;
}
.Download_Resume{

    font-weight: 400px;
    font-weight: semibold;
    box-sizing: border-box;      
    justify-content: center;
    align-items: center;
    padding: 17px;
    gap: 30px;
    background-color: rgb(253, 253, 253);   
    text-align: justify;
    opacity: 0.9;
    border: 1px solid #0D1321;
    border-radius: 8px;
}

#Download_Resume1{
    font-family: "Azeret Mono", monospace;
    
    font-weight: 800px;
    font-stretch: expanded;
    padding: 10px;
}


.lala{
    margin: auto;
    width: 1080px;
    border: 3px solid rgb(255, 255, 255);
    padding: 26px, 221px, 45px;
    list-style: none;
    text-align: center;

}

.kala{
    background-image: url(./assets/Hero-bg.png);
    width: 1460px;
    height: 666px;
}

.hablu{
    width: 240px;
    height: 240px;
    padding-left: 370px;
    padding-right: 370px;
    margin-top: 30px;
}
.contact{
    font-family: "Azeret Mono", monospace;   
    
    font-weight: 20px;
    width: 170px;
    height: 48px;
    background-color: rgb(0, 0, 0); 
    color: aliceblue;
    border: 1px solid #0D1321;
    border-radius: 8px;
    padding: 17px;
    align-items: center;
    justify-content: center;
    
}

.future{
    font-family: "Azeret Mono", monospace; 
    
    font-size: 45px;
    width: 1000px;
    height: 138px;
}

.first-para{
    font-family: "Azeret Mono", monospace; 
    font-size: 16px;
    opacity: 0.7;
    padding-top: 0px;
    margin: 00px;
    margin-bottom: 10px;
}

#btn{
    margin-top: 50px;
}


/* main */
main{

    max-width: 1260px;
    height: 1250px;
    margin: 0 auto;
    background-color: #f5f5f5;
    margin-top: 90px;
    border-radius: 15px;
    /* margin: auto; */
    /* padding: 10px 20px 20px 10px; */
}


/* why web development */

.why{
    font-family: "Azeret Mono", monospace;    
    font-size: 32px;
}

.upper{
    text-align: center;
   
    justify-content: center;
    align-items: center;
    padding: 20px 30px 20px;
    background-color: rgb(251, 251, 251);
    margin: 40px;
    margin-top: 200px;
    /* border-radius: 50px; */
    border: 20px;
}


.basic-line{
    font-family: "Azeret Mono", monospace;    
    font-size: 24px;
    opacity: 0.7;
}


.second-upper{
    
    /* justify-content: center; */
    align-items: center;
    padding: 20px 30px 20px;
    background-color:rgb(251, 251, 251);
    margin: 40px;
    /* margin-top: 200px; */
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-between;
    padding-left: 70px;
    
}

.content{
    width: 477px;
    height: 220px;

}

.dibba{
    font-family: "Azeret Mono", monospace;    
    font-size: 15px;
    opacity: 0.7; 
    border-radius: 2px;
    width: 165px;
    height: 45px;
}

#shared-pad{
    padding-bottom: 20px;
}


.img{
    padding-right: 30px;
}
